<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá. Por favor, informe seu planejamento do dia.</h1>
    <p> http://localhost:3000/earlies/new </p>
  </body>
</html>